{% load static %}
    {% include './navBar.html' %}
    <!-- Navbar End -->
    <div class="container-fluid pt-5">
        <div class="container">
            <div class="text-center mx-auto mb-5" style="max-width: 500px;">
                <h1 class="display-5">Patient Appointment</h1>
            </div>

            <div class="row justify-content-center position-relative">
                <div class="col-lg-8">
                    <div class="bg-white rounded p-5 m-5 mb-0">
                        {% if alldoc %}
                        <table class="table table-bordered">
                            <tbody>
                                    <tr>
                                {% for doc in alldoc %}
                                        <td>Doctor Name</td><td>{{doc.dname}}</td>
                                    </tr>
                                    <tr>
                                        <td>Doctor Qualification</td><td>{{doc.qualification}}</td>
                                    </tr>
                                    <tr>
                                        <td>Specialist</td><td>{{doc.specialist}}</td>
                                    </tr>
                                    <tr>
                                        <td>Year of Experience</td><td>{{doc.yoe}}</td>
                                    </tr>
                                    <tr>
                                        <td>Available</td>
                                        <td>{{doc.days}}</td>
                                    </tr>
                                    <tr>
                                        <td>Timing</td>
                                        <td>{{doc.time_slot}}</td>
                                {% endfor %}
                                    </tr>
                            </tbody>
                        </table>
                        {% else %}
                            <h3 class="text-center text-danger">Sorry No Doctor is found</h3>
                        {% endif %}
                        <form name="reg-frm" method="post">
                            {% csrf_token %}
                            <div class="row g-3">
                                {% for frm in form %}
                                    <div class="col-12">
                                        {{frm.label}}
                                        {{ frm }}
                                        <label class="text-danger"> &nbsp;&nbsp;{{ frm.errors|striptags }}</label>
                                    </div>
                                {% endfor %}
                                <div class="col-12">
                                    <input type="submit" value="Make Appointment" class="btn btn-primary w-100 py-3">

                                </div>
                            </div>
                        </form>
                    {% if messages %}
                        {% for msg in messages %}
                            {{ msg }}
                        {% endfor %}
                    {% endif %}
                    </div>
                </div>
            </div>
        </div>
    </div>

    <!-- Footer Start -->
    {% include './footer.html' %}